body {
  background: rgb(246, 186, 184);
  background: linear-gradient(
    90deg,
    rgba(246, 186, 184, 1) 29%,
    rgba(192, 230, 223, 1) 66%
  );
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-image: url(/half-color.jpg);
  background-size: 660px;
}

h1 {
  text-align: center;
}

select {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

footer {
  text-align: center;
  font-size: 18px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dotted black;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 46px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  font-weight: bold;
  font-size: 20px;
}
