body {
  background-color: #fadadd;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-image: url(/pink-brick.jpg);
  background-size: 600px;
}

h1 {
  text-align: center;
}

select {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

footer {
  text-align: center;
  font-size: 18px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed grey;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 46px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
}
